@import '_header';

p {
    @include fuentePrincipal();
}

.catalogo{
    
    margin: 80px 40px 40px 40px;
    @include fuentePrincipal();
    display: flex;
    flex-direction: column;
}

.catalogo-memorias{
    
    max-width: 100%;
    width: 95%;
    margin: 5px auto;
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    background-color: rgba(45, 135, 177, 0.322);
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    h1{
        border-bottom: 2px solid black;
        color: aliceblue;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    p{
        margin-top: 10px;
        color: aliceblue;
        grid-column: span 2;
        justify-items: start;
    
    }
    img{
        justify-self: center;
        padding: 10px;
    }
}

.catalogo-procesadores
{
    
    max-width: 100%;
    width: 95%;
    margin: 5px auto;
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    background-color: rgba(45, 135, 177, 0.322);
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    h1{
        border-bottom: 2px solid black;
        color: aliceblue;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    p{
        margin-top: 10px;
        color: aliceblue;
        grid-column: span 2;
        justify-items: start;
    
    }
    img{
        justify-self: center;
        padding: 10px;
    }
}

.catalogo-fuentes{
    
    max-width: 100%;
    width: 95%;
    margin: 5px auto;
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    background-color: rgba(45, 135, 177, 0.322);
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    h1{
        border-bottom: 2px solid black;
        color: aliceblue;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    p{
        margin-top: 10px;
        color: aliceblue;
        grid-column: span 2;
        justify-items: start;
    
    }
    img{
        justify-self: center;
        padding: 10px;
    }
}